@charset "utf-8";

body, html{
	padding: 0;
	margin: 0;
}

p{
	padding: 0;
	margin: 0;
}

ul{
	list-style-type: none;
}

ul > li{
	width: 130px;
	height: 170px;
	vertical-align: top;
	display: inline-block;
	margin: 5px 5px 5px 5px;
	border: solid black 1px;
	background-color: #FFF;
}

#navbar{
	top: 0;
	width: 100vw;
	height: 70px;
	background-color: #35465c;
	position: fixed;
	z-index: 1000;
}

#navbar > img{
	vertical-align: middle;
	padding: 10px 0 0 10px;
}

#main-content{
	max-width: 1400px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#main-list{
	max-width: 90%;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.post-cell{
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.image-container{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	border-radius: 5px;
	width: 130px;
	height: 170px;
}

.text-container{
	font-size: 13px;
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	border-radius: 5px;
	width: 130px;
	height: 170px;
}

.image-container > img{
	max-width: 130px;
	max-height: 170px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
}

.hover-container{
	position: absolute;
	text-align: center;
	background-color: #FFF;
	width: 130px;
	height: 170px;
	border-radius: 4px;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.2s;
}

.hover-container:hover{
	opacity: .8;
}

#load-cell{
	background-color: #35465c;
	text-align: center;
	opacity: 1;
	transition: opacity 0.2s;
}

#load-cell:hover{
	opacity: .8;
}

#load-cell > img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.qa-container{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	border-radius: 5px;
	width: 130px;
	height: 170px;
}

.question-container{
	padding: 2px 2px 2px 2px;
	font-size: 12px;
	background-color: #aab1bb;
}

.question-container > figure > img{
	max-width: 130px;
}

.answer-container{
	font-size: 12px;
}

.answer-container > blockquote, figure{
	margin: 0;
}

.answer-container .tmblr-full > img{
	max-width: 130px;
}

#modal-box{
	max-width: 540px;
	background-color: #FFF;

	border-radius: 5px;
	margin: 90px auto 25px auto;
	position: relative;
	z-index: 30;
}

.modal-header{
	height: 30px;
	padding: 10px 10px 0 10px;
}

.who-reblog{
	display: table-cell;
	vertical-align: middle;
	float: left;
}

.who-source{
	display: table-cell;
	vertical-align: middle;
	float: right;
}

.modal-header > p{
	display: table;
	width: 100%;
	height: 100%;
}

.modal-content{
	text-align: center;
}

.modal-content > img{
	max-width: 100%;
}

.modal-caption, .modal-footer{
	padding: 20px;
}

.modal-caption .tmblr-full > img{
	max-width: 90%;
}

#shadow-container{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 20;
}

#popup-container{
	width: 100%;
	height: 100%;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 50;
	overflow: auto;
	background: rgba(0, 0, 0, 0.5);
}