ul > .post-cell{
	@include thumb-container-dimensions;
	vertical-align: top;
	display: inline-block;
	margin: 5px 5px 5px 5px;
	background-color: #FFF;
}

.post-cell{
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 7px 9px 4px -5px rgba(64,64,64,0.15);
	-moz-box-shadow: 7px 9px 4px -5px rgba(64,64,64,0.15);
	box-shadow: 7px 9px 4px -5px rgba(64,64,64,0.15);
}

.hover-container{
	position: absolute;
	text-align: center;
	@include thumb-container-dimensions-padding;
	@include text-padding;
	word-wrap: break-word;
	border-radius: 4px;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.2s;
}

@include container-colors;

.hover-container:hover{
	opacity: .9;
}

.post-cell > a{
	text-decoration: none;
	color: black;
}

#load-cell{
	background-color: #35465c;
	text-align: center;
	opacity: 1;
	transition: opacity 0.2s;
}

#load-cell:hover{
	opacity: .8;
}

#load-cell > img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}