ul > li{
	width: 130px;
	height: 170px;
	vertical-align: top;
	display: inline-block;
	margin: 5px 5px 5px 5px;
	border: solid black 1px;
	background-color: #FFF;
}

.post-cell{
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.hover-container{
	position: absolute;
	text-align: center;
	background-color: #FFF;
	width: 130px;
	height: 170px;
	border-radius: 4px;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.2s;
}

.text{
	background-color: #FFF;
}

.photo{
	background-color: #d95e40;
}

.quote{
	background-color: #f2992e;
}

.link{
	background-color: #56bc8a;
}

.chat{
	background-color: #529ecc;
}

.audio{
	background-color: #a77dc2;
}

.video{
	background-color: #748089;
}

.answer{
	background-color: #529ecc;		
}

.hover-container:hover{
	opacity: .9;
}

.post-cell > a{
	text-decoration: none;
	color: black;
}

#load-cell{
	background-color: #35465c;
	text-align: center;
	opacity: 1;
	transition: opacity 0.2s;
}

#load-cell:hover{
	opacity: .8;
}

#load-cell > img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}