.image-container{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	border-radius: 5px;
	@include thumb-container-dimensions;
}

.text-container{
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	border-radius: 5px;
	@include thumb-container-dimensions-padding;
	@include text-padding;
}

.text-container .tmblr-full> img{
	max-width: 130px;
	max-height: 170px;
}

.image-container > img{
	max-width: 130px;
	max-height: 170px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
}

.audio-container{
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	border-radius: 5px;
	@include thumb-container-dimensions-padding;
	@include text-padding;
	background-color: #a77dc2;
	color: white;

	h4{
		margin: 0;
	}
}

.qa-container{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	border-radius: 5px;
	@include thumb-container-dimensions;
}

.question-container{
	padding: 2px 2px 2px 2px;
	background-color: #529ecc;
	@include text-padding;
}

.question-container > figure > img{
	max-width: 130px;
}

.answer-container{
	@include text-padding;
}

.answer-container > blockquote, figure{
	margin: 0;
}

.answer-container .tmblr-full > img{
	max-width: 130px;
}