@import url('https://fonts.googleapis.com/css?family=Montserrat');

.post-cell, .hover-container{
	font-size: 0.9em;
}

.thumbnail-container{
	font-size: 0.7em;

	.thumbnail-title{
		margin-top: 0;
	}
}

#modal-box{
	font-size: 0.8em;
}

.who-reblog, .who-source{
	font-size: 0.78em;
}

.tag{
	font-size: 0.78em;
}