@import url('https://fonts.googleapis.com/css?family=Montserrat');

.post-cell, .hover-container{
	font-size: 0.9em;
}

.thumbnail-container{
	font-size: 0.7em;
}

#modal-box{
	font-size: 0.8em;
}

.tag{
	font-size: 0.78em;
}